name: GitHub sync tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions: read-all

jobs:
  test-dump:
    name: dump-config
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Set GitHub token
        run: echo ${{ secrets.AUGGIE_BOT_TOKEN }} > token

      - name: Dump org config
        uses: docker://ghcr.io/uwu-tools/peribolos:v0.0.3@sha256:03b7dc21ec9a18ded7d73175b5920e815cb672fe03e56dbd8ef2a3dc2595ff91
        with:
          github-token-path: ./token
          dump: relengfam

  test-sync:
    name: sync-orgs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Set GitHub token
        run: echo ${{ secrets.AUGGIE_BOT_TOKEN }} > token

      - name: Sync GitHub orgs
        uses: docker://ghcr.io/uwu-tools/peribolos:v0.0.3@sha256:03b7dc21ec9a18ded7d73175b5920e815cb672fe03e56dbd8ef2a3dc2595ff91
        with:
          github-token-path: ./token
          config-path: orgs
          min-admins: 3
          required-admins: "auggie-bot,cpanato,justaugustus"
          fix-org: true
          fix-org-members: true
          fix-teams: true
          fix-team-members: true
          fix-team-repos: true
